<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392016459270-ldcikitt47sssl7vepfslo571rajsk7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392016459270-ldcikitt47sssl7vepfslo571rajsk7j</string>
	<key>API_KEY</key>
	<string>AIzaSyBZN_S17sfr8T_vxv0DrDd_JrBGci_n4bo</string>
	<key>GCM_SENDER_ID</key>
	<string>392016459270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceApp</string>
	<key>PROJECT_ID</key>
	<string>practice-app-49b97</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-app-49b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392016459270:ios:1044d7dfd6a0953bd5b587</string>
</dict>
</plist>